@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page, form, .topbar, .recipe-bg, .ingredient-bg, .start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link:hover {
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 1rem;
}

.grouper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.generalMargin {
  margin: 0.25rem;
}

.maxForm {
  max-width: 80%;
}

.maxList {
  width: 100%;
  margin-bottom: 2rem;
}

.recipe-bg, .start-page {
  width: 100%;
  min-height: 97vh;
  height: 100%;
  background-color: #FFF8AB;
}

.ingredient-bg {
  width: 100%;
  min-height: 97vh;
  height: 100%;
  background-color: #D5FFAB;
}

.MuiInputBase-root {
  background-color: white;
}

.topbar {
  background-color: yellow;
  width: 100%;
  min-height: 3vh;
}

.start-page {
  background-image: url('../resources/LogoLonga.png');
  background-size: contain;
  background-position-x: center;
  height: 100vh !important;
  background-repeat: no-repeat;
}

.title {
  font-family: 'Pacifico', cursive !important;
  color: white;
  font-size: 3rem;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
